[submodule "external/mpv"]
	path = external/mpv
	url = https://github.com/mpv-player/mpv.git
[submodule "external/plugins/uosc"]
	path = external/plugins/uosc
	url = https://github.com/tomasklaen/uosc.git
